body {
  background-color: rgb(188, 224, 223);
}

h1 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

Button {
  color: blueviolet;
}

.button-array {
  text-align: center;
  color: aquamarine;
}
